<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Snotra"
        tools:targetApi="31">
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Настройки"
            android:parentActivityName="com.example.snotra.ActivityMain"/>
        <activity
            android:name=".ui.first_aid.FirstAidActivity"
            android:exported="false"
            android:label="Первая помощь"
            android:parentActivityName="com.example.snotra.ActivityMain"/>
        <activity
            android:name=".ui.articles.articles1"
            android:exported="false"
            android:label="Статья1"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ui.exercises.group.kontrol"
            android:exported="false"
            android:label="@string/exercise_kontrol"
            android:parentActivityName=".ActivityMain"/>
        <activity
            android:name=".ui.exercises.group.selfharming"
            android:exported="false"
            android:label="@string/exercise_selfharming"
            android:parentActivityName=".ActivityMain"/>
        <activity
            android:name=".ui.exercises.group.selfhatred"
            android:exported="false"
            android:label="@string/exercise_selfhatred"
            android:parentActivityName=".ActivityMain"/>
        <activity
            android:name=".ui.exercises.group.lostness"
            android:exported="false"
            android:label="@string/exercise_lostness"
            android:parentActivityName=".ActivityMain"/>
        <activity
            android:name=".ui.exercises.group.fear"
            android:exported="false"
            android:label="@string/exercise_fear"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ui.exercises.group.wrath"
            android:exported="false"
            android:label="@string/exercise_wrath"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ActivityMain"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>